.selected-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 20px;
    background: white;
    border-top: 1px solid #ddd;

    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.selected-actions{
    display: flex;
    gap: 10px;
}